<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions nécessaires pour l'accès à Internet et au Wi-Fi -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Api_gestionVaccination"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".VaccinCompletActivity"
            android:exported="false" />


        <activity
            android:name=".VaccinsActivity"
            android:exported="false" />
       <!-- Déclaration de l'activité principale -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Autres activités nécessaires -->
        <activity
            android:name=".Menu"
            android:exported="true" />
        <activity android:name=".MenuMedecinActivity" />
        <activity android:name=".ModifierProfilBebeActivity" />
        <activity android:name=".ListeBebesActivity" />
        <activity android:name=".ProfilBebeActivity" />
        <activity android:name=".Connexion">
            <!-- Optionnel : Filtres d'intention si nécessaire -->
        </activity>

        <activity android:name=".Ajout" />
        <activity android:name=".ListeVaccinsActivity" />
        <activity
            android:name=".GestionBebeActivity"
            android:exported="false" />
        <activity
            android:name=".AfficherCarnetsActivity"
            android:exported="false" />
    </application>


</manifest>